body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

h2 {
    color: #333;
}
input {
    padding: 6px;
}

button {
    padding: 6px 10px;
    margin-left: 5px;
}

li {
    margin: 8px, 0;
}